<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static\styles.css" />
    <title>Vigenere Cipher Checker</title>
  </head>
  <body>
    <div>
      <h1>Vigenere Cipher Translator</h1>
    </div>
    <div>
      <form method="POST">
        <label for="text">Input:</label>
        <input type="text" name="text" id="text" required />
        <label for="key">Key:</label>
        <input type="text" name="key" id="key" required />
        <button type="submit">Encrypt/Decrypt</button>
      </form>
    </div>

    
  </body>

  {% if encrypted_text %}
  <h2>Encrypted: {{ encrypted_text }} </h2>
  {% endif %} 
  
  {% if decrypted_text %}
  <h2>Decrypted: {{ decrypted_text }}</h2>
  {% endif %} 
  
  {% if error %}
  <h2>Error: {{ error }}</h2>
  {% endif %}

</html>
